* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controle {
    height: auto;
    width: 80%;
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    background-color: #b2a052;
}
.content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.direction {
}   
.container{
    width: 80%;
    height: 80%;
}
.linha {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
    }
}
.bloco {
    width: 20%;
    height: 100%;
    border-radius: 4px;
}
.enter {
}
#enter {
    height: 50%;
    width: 50%;
    border-radius: 100%;
}