* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/styles/5f15ff01132b3a342bd22f59098a415e.png');
    background-position: center;
    background-size: cover;
}
.computador {
    height: 400px;
    width: 200px;
    border: 2px solid black;

    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.objeto {
    display: none;
    height: 30px;
    width: 30px;
    background-color: black;
    position: relative;
    top: 0px;
}
.qrcode {
    display: block;
}
#open {
    height: 9vh;
    width: 5vw;
    position: absolute;
    top: 40.6%;
    left: 50.3%;
    transform: translate(-50%);
    background-color: transparent;
    opacity: 0%;
    background-image: url('/styles/icons8-reproduzir-48.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
#open:hover {
    opacity: 70%;
    transition: opacity 2s;
}

.gif-down-content {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 31%;
    left: 50.3%;
    transform: translate(-50%);
    background-image: url('/styles/animation-down.gif');
    border: none;
    background-size: 100%;
}