body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#controle {
    height: auto;
    width: 80%;
    border-radius: 5vh;
    background-color: blueviolet;
    display: flex;
}
.container {
    height: 100%;
    width: 50%;
}
.esquerda{
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.direita {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linha{
    height: 20vh;
    width: 100%;
}
button {
    height: 100%;
    width: auto;
    border-radius: 1.5vh;
}
.um, .tres{
    display: flex;
    justify-content: center;
}
.dois {
    display: flex;
    justify-content: center;
    #center {
        background-color: transparent;
        border: none;
    }
}
#boost {
    height: 70%;
    border-radius: 100%;
}
#vira-tela{
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
        width: 20%;
    }
}

@media(orientation: portrait){
    #controle{
        display: none;
    }
    #vira-tela {
        display: flex;
    }
}